$font-family-1: "Montserrat", sans-serif;

//font sizes
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-25: 25px;
$font-30: 30px;
$font-35: 35px;
$font-45: 45px;
$font-50: 50px;
//font weights
$font-400: 400;
$font-500: 500;
$font-600: 600;
$font-700: 700;
$font-900: 900;
// Colors
$color-1: #111c4a;
$color-2: #ffffff;
$color-3: #6161f7;
$color-4: #e8f7fd;
$color-5: #ebf4f9;
$color-6: #95a2ce29;
$color-7: #ebf4f900;
$color-8: #8467fc;
$color-9: #212431;
$color-10: #acb2e329;
$color-11: #3352fb;
$color-12: #040606;
$color-13: #4d47de9c;
$color-14: #4c506f;
$color-15: #2c314d;
$color-16: #877d7d;
$color-17: #e0e0e9;
$color-18: #5078fc;
